<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>CSV file Upload</title>
<style>
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100;
        margin: 0;
    }

    form {
        text-align: left;
        margin-top: 103px;
    }
</style>
</head>
<body>
<h1>Upload CSV File</h1>
<form method="post" enctype="multipart/form-data">
<input type="file" name="file"><br>
<input type="submit" value="submit">
</form>
</body>
</html>